<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script
                src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous">
        </script>
        <link href="{{ asset('css/base.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="global-wrapper">
            <header>

            </header>
            <nav>
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">{% trans %}Registration{% endtrans %}</a>
            </nav>
            {#<nav>
                <a href="{{ path('loto-home') }}">Page loto</a>
                <a href="{{ path('euromillions-home') }}">Page Euromillion</a>
                 <a href="{{ path('test') }}">-test-</a>
                <a href="{{ path('euromillions-stats') }}">Page stats</a>
                <a href="{{ path('euromillions-update-base') }}">Uppdate base</a><br/>
                <a href="{{ path('euromillions-update-base-by-file') }}">Uppdate base by file</a>
            </nav>#}
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer>
                <p>Toto-tipster 2020 tous droit réservés.</p>
            </footer>
                {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
